
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Intermediate Exercises</h2>


<h4>Levels Three, Four and Five: Numbers</h4>

<ul>
    <li>@Html.ActionLink("Greatest Common Denominator", "CommonDenominatorInput", "Moderate")</li>
    <li>@Html.ActionLink("Convert Numbers to Roman Numerals", "RomanNumeralInput", "Moderate")</li>
</ul>

<h4>Levels Three, Four and Five: Strings</h4>

<ul>
    <li>@Html.ActionLink("Count Words", "WordCounterInput", "Moderate")</li>
    <li>@Html.ActionLink("Morse Code", "MorseCodeInput", "Moderate")</li>
    <li>@Html.ActionLink("Caesar's Cipher", "CipherInput", "Moderate")</li>
</ul>
