@model FamileLMS.UI.Models.Teacher.AddClass
@{
    ViewBag.Title = "Add Class";
}

<h2>Add a New Class</h2>

<div class="row">
    <div class="col-sm-8">
        <fieldset>
            <legend>Class Information</legend>
            @using (Html.BeginForm("AddClass", "Teacher", FormMethod.Post, new { role = "form" }))
            {
                <div class="row">
                    <div class="col-sm-6">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.ClassName, new { @class = "control-label" })
                            <div>
                                @Html.TextBoxFor(m => m.ClassName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ClassName)
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.GradeLevel, new { @class = "control-label" })
                            <div>

                                @Html.DropDownListFor(m => m.GradeLevel, new List<SelectListItem>()
                                {
                                    new SelectListItem(){Text="1", Value="1"},
                                    new SelectListItem(){Text="2", Value="2"},
                                    new SelectListItem(){Text="3", Value="3"},
                                    new SelectListItem(){Text="4", Value="4"},
                                    new SelectListItem(){Text="5", Value="5"},
                                    new SelectListItem(){Text="6", Value="6"},
                                    new SelectListItem(){Text="7", Value="7"},
                                    new SelectListItem(){Text="8", Value="8"},
                                    new SelectListItem(){Text="9", Value="9"},
                                    new SelectListItem(){Text="10", Value="10"},
                                    new SelectListItem(){Text="11", Value="11"},
                                    new SelectListItem(){Text="12", Value="12"},
                                }, "- select -", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.GradeLevel)
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>
                                Archive
                            </label>
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.IsArchived, new { @class = "checkbox" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Subject, new { @class = "control-label" })
                            <div>
                                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Subject)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.StartDate, new { @class = "control-label" })
                            <div>
                                @Html.TextBoxFor(m => m.StartDate,"{0:d}", new { @class = "form-control datepicker"})
                                @Html.ValidationMessageFor(m => m.StartDate)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.EndDate, new { @class = "control-label" })
                            <div>
                                @Html.TextBoxFor(m => m.EndDate, "{0:d}", new { @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(m => m.EndDate)
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                            <div>
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Description)
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12 text-right">
                        @Html.ActionLink("Cancel", "Index", "Teacher", null, new { @class = "btn btn-default" })
                        <button class="btn btn-primary">Save Changes</button>
                    </div>
                </div>
    
            }

        </fieldset>
    </div>
</div>

@section scripts{
    
    <script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
    <script>
        $(function() {
            $('.datepicker').datepicker();
        });
    </script>
}

@section styles{
    
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
}